<div class="navigation-container">
  <span>
    Resume:
    <a href="assets/pdfs/resume-en.pdf" title="English resume" download>EN</a>
    |
    <a href="assets/pdfs/resume-pl.pdf" title="Polish resume" download>PL</a>
  </span>
  <span class="name"> Piotr Gazda</span>
  <span class="profiles">
    <a
      class="profiles"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.github.com/piotrgazda"
    >
      <img src="assets/git.png" width="30" height="30" />
    </a>
  </span>
</div>
